In [1]:
import sqlite3 
connection = sqlite3.connect('pets_database.db')
cursor = connection.cursor()

In [2]:
# connect database and create cursor here
import sqlite3
connection = sqlite3.connect('pets_database.db')
cursor = connection.cursor()

In [3]:
# create table here
cursor.execute('''
CREATE TABLE cats (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER, breed TEXT
)''')

OperationalError: table cats already exists

In [4]:
# insert Maru into the pet_database.db here
cursor.execute('''INSERT INTO cats (name,age,breed) VALUES ('Maru',3,'Scottish Fold');''')

In [5]:
file = open('./01_insert_cats_into_cats_table.sql','r')#opens the sql file
sql= file.read()#reads and returns the sql statements
cursor.executescript(sql)#executres the returned sql statements and inserts the values into the table
file.close()#closes the file

In [6]:
cursor.execute('''INSERT INTO cats (name,age,breed) VALUES ('Lil\ Bub',5,'American Shorthair');''')

In [7]:
cursor.execute('''INSERT INTO cats (name,age,breed) VALUES ('Hannah',1,'Tabby');''')

In [8]:
file = open('./01_insert_cats_into_cats_table.sql','r')#opens the sql file
sql= file.read()#reads and returns the sql statements
cursor.executescript(sql)#executres the returned sql statements and inserts the values into the table
file.close()#closes the file

In [11]:
cursor.execute('''SELECT DISTINCT name,age FROM cats;''').fetchall()

[('Maru', 3), ('Lil\\ Bub', 5), ('Hannah', 1)]

In [13]:
cursor.execute('''SELECT * FROM cats WHERE name = "Maru";''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold'), (2, 'Maru', 3, 'Scottish Fold')]

In [14]:
cursor.execute('''SELECT * FROM cats WHERE age < 2;''').fetchall()

[(4, 'Hannah', 1, 'Tabby')]

In [15]:
cursor.execute('''ALTER TABLE cats ADD COLUMN notes text;''')

In [16]:
cursor.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold', None),
 (2, 'Maru', 3, 'Scottish Fold', None),
 (3, 'Lil\\ Bub', 5, 'American Shorthair', None),
 (4, 'Hannah', 1, 'Tabby', None)]

In [18]:
cursor.execute('''UPDATE cats SET name = 'Hana' WHERE name ='Hannah'; ''')

In [19]:
cursor.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold', None),
 (2, 'Maru', 3, 'Scottish Fold', None),
 (3, 'Lil\\ Bub', 5, 'American Shorthair', None),
 (4, 'Hana', 1, 'Tabby', None)]

In [20]:
cursor.execute('''DELETE FROM cats WHERE id=2;''')

In [21]:
cursor.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold', None),
 (3, 'Lil\\ Bub', 5, 'American Shorthair', None),
 (4, 'Hana', 1, 'Tabby', None)]

In [22]:
cursor.execute('''DELETE FROM cats WHERE id=3;''')

In [23]:
cursor.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold', None), (4, 'Hana', 1, 'Tabby', None)]

In [24]:
cursor.execute('''UPDATE cats SET id = '3' WHERE id ='4'; ''')

In [25]:
cursor.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold', None), (3, 'Hana', 1, 'Tabby', None)]